*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Black Border */
.pattern{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: calc(50% - 1440px/2);
    top: 0px;

    background: url(../Images/Pattern.png);
    mix-blend-mode: multiply;
    opacity: 0.3;
}