*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #962219;
}

.dirt{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Dirt.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.30;
    z-index: 1;
}

.pattern{
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.50;
    z-index: 2;
}

.vectors{
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/new.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.70;
    z-index: 3;
}
